@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #fff;
$secondary-color: #193925;
$gray-color: #565656;
$green-color1: #28d28c;
$green-color2: #138958e8;

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;

    background: linear-gradient(249.32deg, $green-color2 -25.45%, $green-color1 122.97%);
    color: $primary-color;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.footer-documents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: transparent;

    padding: 20px 20px 20px 50px;
    gap: 10px;

    font-weight: 700;

    h2 {
        font-size: 50px;
    }

    a {
        font-size: 25px;
        font-weight: 100;
        text-decoration: none;

        color: $primary-color;

        &:hover {
            color: $secondary-color;
        }
    }

    h3 {
        position: relative;

        margin-top: 40px;

        font-size: 24px;
    }
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: transparent;

    padding: 20px 20px 20px 50px;
    gap: 10px;  

    h2 {
        font-weight: 700;
        font-size: 50px;
    }

    .footer-two-socials {
        font-weight: 400;
        font-size: 25px;

        a {
            text-decoration: none;
            margin-right: 50px;
            color: $primary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    button {
        width: 277px;
        height: 36px;

        font-size: 20px;
        font-weight: 500;

        background-color: transparent;
        color: $primary-color;

        border: 2px solid $primary-color;
        border-radius: 15px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: transform .2s;
        cursor: pointer;

        &:hover {
            background-color: $secondary-color;
            transform: scale(1.1);
        }
    }

}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px 20px 20px 20px;
    margin-right: 40px;

    height: auto;
    width: 620px;

    form {
        .footer-form-little {
            position: relative;
            display: flex;
            flex-direction: row;
    
            input {
                width: 153px;
                height: 40px;

                font-size: 25px;

                border: none;
                border-radius: 3px;

                outline: none;
                margin-right: 52px;

                .footer-form-little-p {
                    display: flex;
                    flex-direction: column;
                }
    
                &::placeholder {
                    color: $gray-color;

                    font-weight: 300;
                    font-size: 20px;

                    padding-left: 15px;

                    display: flex;
                    align-items: center;
                }
            }        
        }
    
        .footer-form-large {
            position: relative;
            margin-top: 15px;
    
            textarea {
                display: flex;

                width: 565px;
                height: 123px;

                font-size: 25px;

                border-radius: 3px;
                border: none;

                outline: none;
                resize: none;
    
                &::placeholder {
                    color: $gray-color;

                    font-weight: 300;
                    font-size: 20px;

                    padding-left: 15px;
                    align-items: start;
                }
            }
        }
    
        .footer-form-submit {
            position: relative;
    
            width: 565px;

            display: flex;
            text-align: center;
            justify-content: center;
    
            input[type="submit"] {
                display: flex;
                align-items: center;

                margin-top: 15px;
    
                font-size: 20px;

                color: $primary-color;
                background-color: transparent;

                border: none;
                cursor: pointer;
        
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

/* Responsibility  */

@media screen and (max-width: 650px) {
    .footer-form {
        form {
            .footer-form-little {
                flex-direction: column;

                input {
                    width: 365px;
                    margin-top: 15px;
                }
            }

            .footer-form-large {
                textarea {
                    width: 365px;
                    height: 123px;
                }
            }

            .footer-form-submit {
                width: 365px;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .footer-form {
        form {
            .footer-form-little {
                input {
                    width: auto;
                }
            }

            .footer-form-large {
                textarea {
                    width: 310px;
                }
            }

            .footer-form-submit {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 420px) { 
    .footer-documents {
        h2 {
            font-size: 25px;
        }

        a {
            font-size: 16px;
        }

        h3 {
            font-size: 18px;
        }
    }

    .footer-social {
        h2 {
            font-size: 25px;
        }
        .footer-two-socials {
            font-size: 18px;
        }

        button {
            width: 160px;
        }
    }
}

@media screen and (max-width: 410px) {
   .footer-form {
        form {
            .footer-form-little {
                input {
                    width: 260px;
                }
            }

            .footer-form-large {
                textarea {
                    width: 260px;
                }
            }

            .footer-form-submit {
                width: 260px;
            }
        }
   }
}